---
layout: default
---

<header class="site-header" role="banner">
  <div class="wrapper" style="display: flex; align-items: center;">
    <div class="profile-pic-container">
      <img src="{{ '/assets/images/IMG_8480.jpg' | relative_url }}" alt="My photo" class="profile-pic">
    </div>
    
  </div>
</header>

<main class="page-content" aria-label="Content">
  <div class="wrapper" style="text-align: center; margin-top: 1em;">
    <div class = "site-author">
        <strong>{{site.author}}</strong>
    </div>
    <div class = "home-intro" style = "margin-top: 1em;">
        {{ content }}
    </div>
  </div>
</main>
